<!DOCTYPE HTML>
<head>
  <!--Include Boostrap 4-->
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  {{ bootstrap.load_js() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
  
  <header>{% block head %}{% endblock %}</header>
  {% block body %}{% endblock %}
</body>
</html>